@charset "utf-8";
/* CSS Document */
.header{text-align:center}
.body-form h3{
	text-align:center;
	color:#06F;
}
.form-check-label{
	margin-right:50px;
}
.footer{color:#99F; background:#069;}
.btn-primary{margin:20px;
}
#my-modal-title{
	color:#F00;
}
