@charset "utf-8";
/* CSS Document */
#frmLogin{
	width:500px;
	margin:0 auto;
}
.box-login{
	border:solid 1px #CCC;
	color:#06F;
	padding:17px;
}
.main{
	color:#999;
}
.text-box{
	width:450px;
	height:30px;
}
.enhaplai{
	border:dotted 1px #F00;
}
#btnSubmit{
	float:right;
	border:0px;
	background:#06F;
	padding:10px;
	color:#FFF;
	border-radius:3px;
}
#txtmail, #txtpassword, #txtagain{
	margin-right:10px;
	padding-left:37px;
}
.icon{
	position:relative;
}
.fa-envelope, .fa-lock{
	position:absolute;
	left:10px;
	color:#007AFF;
	margin-top:10px;
}
