@charset "utf-8";
/* CSS Document */
a{
	text-decoration:none;
	
}
body{
	margin:0px;
	font-family:"Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size:13px;
	background:#F5F5F5;
}
.dropdown li{
	list-style-type:none;
	background:#336;
	display:none;
}
.dropdown{
	cursor: pointer;
}
.nav{
	width:100%;
	margin:0 auto;
	margin-top:0px;
	
}
.topbar{
	background:#37474F;
	width:100%;
	padding-right:20px;
	height:35px;
	color:#FFF;
	float:right;
	padding-top:20px
	}
.top-right{
	float:right;
	margin-top:-15px;
}
.topbar a{
	color:#FFF;
}
.header{
	margin-top: 15px;
	text-decoration:none;
	float:right;
	font-size:12px;
	display: flex;
}
.main{
	float:left;
	position:relative;
	margin-top:25px;
	width: 100%;
}
.dropdown{
	cursor: pointer;
}
.main-menu-left{
	float:left;
	margin-left:30px;
	font-size:18px;
	
}
.main-menu-left .tip{
	color:#826079;
}
.main-menu-left .top{
	margin-left: 29px;
    font-size: 13px;
	
}
.main-menu-right{
	float:right;
	margin:30px;
}
.main-menu-right span{
	float:left;
}
.fa-arrow-circle-o-left{
	margin-right:8px;
}

.fa-signal{
	clear:both;
	margin-button:10px;
}
.fa-signal :before{content:"\e98c"}
i.fa-signal {
	color: #333C5E;
    font-size: 25px;

}
.btn{
	display: inline-block;
	margin:10px;
	font-size:14px;
	margin-top:-10px;
}
.btn-right i{
	display: block;
    margin: 2px;
    top: 2px;
    text-align: center;
	margin-bottom:10px;
}	
.sibar{
	width:100%;
	float:left;
}
.sibar-left{
	background:#263238;
	width:225px;
	float:left;
	margin-left:25px;
	color:#FFF;
	font-size:16px;
	padding:15px;
}
.sibar-left .fa-angle-down{
	margin-left:130px;
	color:#FFF;
}
.tip{
	margin-top:20px;
}
.tip img{
	border-radius:100%;
	width:20%;
	float:left;
}
.tip .tip-left{
	color:#FFF;
	float:left;
	margin-left:10px;
}
.media{
	color:#FFF;
	font-size:14px;
}
.tip-left .fa-file-text-o{
	color:#FFFFFF;
	float:left;
	margin-top:12px;
	font-size:14px;
}
.fa-cog{
	float:right;
	color:#FFFFFF;
	position:relative;
	display:block;
}
.ad{
	float:left;
	clear:both;
	display:block;
	margin-top:0px;
}
span{
	float:left;
	font-size:14px;
	position:relative;
	clear:both;
}
.foder{
	color:#C8CCCD;
	float:left;
	position:relative;
	font-size:14px;
	clear:both;
	margin-top:20px;
}
.fa-home{
	float:left;
}
.menu .fa-angle-right{
	color:;
	margin-left:120px;
}
.menu{
	color:#C8CCCD;
}
.content{
	background:#FFFFFF;
	width:1030px;
	text-outline:none;
	float:left;
	margin-left:20px;
}
.content h3{
	margin-left:30px;
	float:left;
	font: message-box;
}
.icon .fa-angle-down{
	float:right;
}
.heading{
	float:right;
}
.icon{
	float: left;
    margin-right: 15px;
    margin-top: 18px;
}
.icon li{
	list-style-type:none;

}
.icon li a{
	float:left;
	display:block;
	color:#000;
}
#type{
	width:200px;
	height:30px;
	border:solid 1px #dddddd;
	border-radius:3px;
}
.heading .icon-reload{
	float:left;
	width:20px;
}
.table{
	border:solid 1px #DDDDDD;
	border-radius:3px;
	float:left;
	width:95%;
	margin-left:30px;
	margin-bottom:30px;
}
.search{position:relative;}

.fa-search{position: absolute; right: 15px; margin-top: 11px; color:#999999}
p{
	float:left;
	clear:both;
	display:block;
}
th{ vertical-align: middle; border-color: inherit;}
td{
	text-align:center;
}
.open .dropdowm-menu{
	display:block;
}

tbody tr th{color:#000; font-weight:500;border-top: solid 1px #BBBBBB}
tbody tr td{border-top: solid 1px #BBBBBB}
/*table, th, td{border:solid 1px #CCCCCC; border-collapse:collapse;}*/
.icon li a{display:block;}
tr td a{color:#09C;}
.people li{
	color:red;
	float:left;
	list-style-type:none;
}
.people{border:solid 1px #CCCCCC;display:none;
float:left;}


